.options-banner{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background-color: #ddd;

    height: min-content;
}

.option-field{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 4px;
}
.option-field:not(:nth-child(1)){
    border-top: solid 2px #999;
}


.field-label{
    flex-basis: 100px;
}
.option-field input:not([type="radio"]){
    flex-basis: 100%;
}

#sort-select{
    padding: 10px;
    background-color: #444;
    color: white;
}
.array-size-field{
    margin-top: 20px;
}
.array-size-label, .speed-label{
    margin-right: 13px;  
}
.option-field label{
    user-select: none;
}


.option-input{
    display: flex;
    gap: 30px;
}
.option-input .radio-input{
    display: flex;
    align-items: center;
}

#sorting-speed{
    margin-bottom: 0;
}
.menu-icon{
    width: 30px;
}

.menu-btn{
    height: fit-content;
    padding: 3px;

    cursor: pointer;
    background: transparent;
    border: none;
    display: inline-block;
}

.collapse-container{
    display: block;
    overflow: hidden;
    
    flex-basis: 100%;
    flex-grow: 1;
    /* transition-duration: height 300ms; */
}

body{
    --height: 0;
}

.h-0{
    height: var(--height) !important;
    transition-duration: 300ms;
}

.show{
    display: block !important;
    transition-duration: 300ms;
}

.h-fit{
    height: fit-content !important;
}

@media (width >= 800px) {
    body{
        --height: auto;
    }
    .menu-btn{
        display: none;
    }
    .options-banner{
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .collapse-container{
        display: contents;
    }
    .options-list{
        display: contents;
    }
    .field-label{
        flex-basis: auto;
    }
    .option-field input:not([type="radio"]){
        flex-basis: auto;
    }
    .option-field{
        margin: 0 0;
    }
}