*{

}
.container{
    display: flex;
    background-color: rgb(61, 52, 124);
    padding: 20px;
}

.dropdownContainer{
    position: relative;
    width: 160px;
    color: white;
}
.dropdownContainer[data-dropped="false"] .dropdownItem{
    display: none;
}


.dropdownItem{
    position: relative;
    user-select: none;
    padding: 10px 15px;
    background: #555;
}
.dropdownItem:hover{
    background: #333;
}
.dropdownItemsContainer{
    position:absolute;
    width: 100%;
}

.selectedDropdownItem:hover{
    color:white
}
.selectedDropdownItem{
    background-color: #eee;
    color: black;
    display: block !important;
}

.arraySize{
    height: 20px;
}

.label{
    color: white;
    margin: 0 10px 0 20px;
}

.slider{
    width: 100%;
}
.sliderContainer{
    width: 200px;
}