.options-banner{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background-color: #ddd;

    height: min-content;
}

.option-field{
    display: flex;
    justify-content: start;
}
.field-label{
    flex-basis: 100px;
}
.option-field input:not([type="radio"]){
    flex-basis: 100%;
}

#sort-select{
    padding: 10px;
    background-color: #444;
    color: white;
}
.array-size-label, .speed-label{
    margin-right: 13px;  
}
.tooltip-text{
    opacity:0;
    display: inline-block;
    position:absolute; left: 10px;

    color: white;
    padding: 3px 10px;
    background-color: #444;
    transition-delay: 0s;
    transition-duration: 0.2s;
}
.tooltip:hover .tooltip-text{
    opacity: 1;
    transition-delay: 0.5s;
}

.values-field{
    position: relative;
}

.random-values{
    display: flex;
    justify-content: left;
    align-items: center;
}

.range-input div{
    display: flex;
    background-color: #ddd;
    justify-content: space-between;
}
.range-input label{
    width: fit-content;
    margin-right: 10px;
}
.range-number{
    width: 70px;
}

.oneToN-option{
    margin-right: 10px;
}
.one-to-n{
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: solid 2px black;
}

#sorting-speed{
    margin-bottom: 0;
}
.menu-icon{
    width: 30px;
}

.menu-btn{
    height: fit-content;
    padding: 3px;

    cursor: pointer;
    background: transparent;
    border: none;
    display: inline-block;
}

.collapse-container{
    display: block;
    overflow: hidden;
    
    flex-basis: 100%;
    flex-grow: 1;
}

/* .collapse-container:not(.show){
    display: none;
} */
body{
    --height: 0;
}
.h-0{
    height: var(--height) !important;
    transition-duration: 300ms;
}

.show{
    display: block !important;
}

.h-fit{
    height: fit-content;
    transition-duration: 300ms;
}

@media (width >= 800px) {
    body{
        --height: auto;
    }
    .menu-btn{
        display: none;
    }
    .options-banner{
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .collapse-container{
        display: contents;
    }
    .options-list{
        display: contents;
    }
    .field-label{
        flex-basis: auto;
    }
    .option-field input:not([type="radio"]){
        flex-basis: auto;
    }
}