.buttonContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.btn{
    font-family: sans-serif;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;  
}
.btn:disabled{
    cursor: not-allowed;
}
.primaryBtn{
    background-color: #369;
    color: white;
}

.sortBtn{
    margin-left: 20px;
}
.sortBtn:disabled{
    background-color: #589;
}

.resetBtn{
    
}

.countDisplay{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}